<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h2>Kiểm tra số</h2>
    <form action="/bai1" method="POST">
        <label for="">Số cần kiểm tra</label>
        <input type="text" name="number" value="{{number}}">
        {% if errors.get('number') %}
            <span class="error">{{errors['number']}}</span>
        {% endif %}
        <button type="submit">Kiểm tra</button>
    </form>
</body>
</html>