{% extends 'base.html' %}

{% block content %}

<div class="container_blogList" style="display: flex; margin-top: 20px; gap: 20px; width: 900px;">
    {% for item in blogs %}
    <div class="item_blog_list">
        <p>{{item.title}}</p>
        <p>{{item.description}}</p>
        <p>{{item.content}}</p>
        {% if item.image %}
            <img src="{{ item.image.url }}"
                 alt="{{ item.title }}"
                 width="200"
                 height="170">
        {% endif %}
        <p>{{item.create_at}}</p>
    </div>
    {% endfor %}
    <a href="{% url 'add_blog' %}">Đăng Bài</a>
</div>


{% endblock %}