<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Danh sách sản phẩm</h2>
    <h3>Thêm sản phẩm</h3>

    <form action="" method="post">
      <p>Tên cầu thủ</p>
      <input type="text" name="name" value="{{name}}" required />
      <p>Tuổi</p>
      <input type="number" name="age" id="" required />
      <p>Quốc tịch</p>
      <input type="text" name="country" id="" />
      <p>Vị trí</p>
      <input type="text" name="position" id="" />
      <p>Lương</p>
      <input type="text" name="salary" id="" />

      <button type="submit">Thêm</button>
    </form>
    <hr />

 
  </body>
</html>
