.product-details {
    width: 877px;
    margin: 20px auto 40px;
    display: flex;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.product-left {
    width: 460px;
}

.main-image-box {
    width: 400px;
    height: 380px;
    border: 1px solid #eeeeee;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    background: white;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.3s;
}

.zoom-button {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #ff9800;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 18px;
    cursor: pointer;
}

.thumbnail-list {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.thumbnail {
    width: 90px;
    height: 65px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumbnail-image:hover {
    transform: scale(1.05);
}

.arrow-btn {
    width: 22px;
    height: 22px;
    border: none;
    background: #ff9800;
    color: white;
    font-size: 20px;
    line-height: 18px;
    cursor: pointer;
    padding: 0;
}

.product-right {
    width: 290px;
    min-height: 470px;
    border: 1px solid #eeeeee;
    position: relative;
    background: white;
}

.new-label-right {
    position: absolute;
    top: 0;
    left: 0;
    background: #ff1f1f;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
}

.product-content {
    padding: 55px 30px 25px;
}

.product-content h2 {
    margin: 5px 0 12px;
    font-size: 20px;
    line-height: 23px;
    color: #444;
    font-weight: 600;
}

.web-id {
    margin: 0 0 10px;
    font-size: 14px;
    color: #888;
}

.rating {
    margin: 8px 0 20px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #ff9800;
}

.price {
    margin-bottom: 15px;
    color: #ff9800;
    font-size: 30px;
    font-weight: bold;
}

.quantity-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.quantity-box label {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.quantity-box input {
    width: 45px;
    height: 32px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.add-cart {
    height: 36px;
    padding: 0 15px;
    border: none;
    background: #ff9800;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
}

.add-cart:hover {
    background: #f38700;
}

.product-info {
    margin-top: 5px;
    font-size: 14px;
    color: #777;
    line-height: 24px;
}

.product-info p {
    margin: 0;
}

.product-info strong {
    color: #666;
}

.product-info span {
    color: #777;
}


/* ZOOM */

.zoom-active {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: auto;
    height: auto;

    max-width: 90vw;
    max-height: 90vh;

    object-fit: contain;

    z-index: 9999;

    background: white;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

    cursor: zoom-out;
}