
    {% extends 'main.html' %} 
    {% block css %}
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='style/account.css')}}"
    />
    {% endblock %} 
    {% block content %}
    <div class="system">
      <div class="items">
      <div class="product">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLIJ6cWBj4EmZzopjx7ylHmY6n7C3cCJWikvwn5uVoMg&s"
          alt=""
        />
        <p class="price">200</p>
        <p class="info">Áo Argentina</p>
        <button class="buy">Mua</button>
      </div>
      <div class="product">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShB_WCn7A2tRXajUqYsBf4lC3l1GXm4GOwN65RWm6aBg&s=10"
          alt=""
        />
        <p class="price">200</p>
        <p class="info">Áo Argentina</p>
        <button class="buy">Mua</button>
      </div>
      <div class="product">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdk_7Xyrl4nWBg5QpXaiUiTcuJMG3lJk1bBji0U4SgpjGAr1Bt7TEZ4Sc&s=10"
          alt=""
        />
        <p class="price">200</p>
        <p class="info">Áo Argentina</p>
        <button class="buy">Mua</button>
      </div>
      <div class="product">
        <img
          src="https://vanauthentic.com/watermark/product/750x750x2/upload/product/fd3f41ae30804c62bf13ba20475766e9_2623.jpeg"
          alt=""
        />
        <p class="price">200</p>
        <p class="info">Áo Argentina</p>
        <button class="buy">Mua</button>
      </div>
      <div class="product">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Z45vUYKt4-_Wb-LHWsx7GftBwP4qOPizuyM1dpNuCg&s"
          alt=""
        />
        <p class="price">200</p>
        <p class="info">Áo Argentina</p>
        <button class="buy">Mua</button>
      </div>
      <div class="product">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Z45vUYKt4-_Wb-LHWsx7GftBwP4qOPizuyM1dpNuCg&s"
          alt=""
        />
        <p class="price">200</p>
        <p class="info">Áo Argentina</p>
        <button class="buy">Mua</button>
      </div>
    </div>
    </div>
    {% endblock %}

