<div class="container_footer">

    <ul class="image_product_up">

        <li>
            <img
                src="https://cdn-media.sforum.vn/storage/app/media/trannghia/ao-dau-mu-qualcomm-1.jpg"
                alt=""
            >
        </li>

        <li>
            <img
                src="https://bna.1cdn.vn/thumbs/1200x630/2026/07/18/img_a0a27eb9.jpg"
                alt=""
            >
        </li>

        <li>
            <img
                src="https://cdn-img.thethao247.vn/origin_640x0/storage/files/ngotuan2334/2025/11/06/argentina-home-wc-2026-kit-2-690c163171f51.jpg"
                alt=""
            >
        </li>

        <li>
            <img
                src="https://file3.qdnd.vn/data/images/14/2023/11/22/upload_2323/the%20thao%201.jpg"
                alt=""
            >
        </li>

    </ul>


    <ul class="footer_down">

        <li>
            SERVICE

            <ul>
                <li>Online Help</li>
                <li>Contact Us</li>
                <li>Order Status</li>
            </ul>
        </li>

        <li>
            QUOCK SHOP

            <ul>
                <li>T-Shirts</li>
                <li>Men</li>
                <li>Shoes</li>
            </ul>
        </li>

        <li>
            INFORMATION

            <ul>
                <li>Term of Use</li>
                <li>Privacy Policy</li>
                <li>Ticket System</li>
            </ul>
        </li>

        <li>
            ABOUT SHOPPER

            <ul>
                <li>Company Information</li>
                <li>Careers</li>
                <li>Store Local</li>
            </ul>
        </li>

    </ul>

</div>