<div class="main_left_menu">
  <div class="container_left_menu">

    <ul class="list_product_category">

        <p class="title">CATEGORY</p>

        <li>
            SPORTSWEAR

            <ul style="display: none;" class="item_hide">
                <li>NIKE</li>
                <li>ADIDAS</li>
                <li>PUMAS</li>
            </ul>
        </li>

        <li>
            MENS

            <ul style="display: none;" class="item_hide">
                <li>FENDI</li>
                <li>GUESS</li>
                <li>VALENTINO</li>
            </ul>
        </li>

        <li>
            WOMENS

            <ul style="display: none;" class="item_hide">
                <li>FENDI</li>
                <li>GUESS</li>
                <li>VALENTINO</li>
            </ul>
        </li>

        <li>KIDS</li>
        <li>FASHION</li>
        <li>SHOES</li>

    </ul>


    <ul class="brand_total">

        <p class="title">BRANDS</p>

        <li>
            <span>ACNE</span>
            <span>(50)</span>
        </li>

        <li>
            <span>GRÜNE ERDE</span>
            <span>(56)</span>
        </li>

        <li>
            <span>ALBIRO</span>
            <span>(27)</span>
        </li>

        <li>
            <span>RONHILL</span>
            <span>(32)</span>
        </li>

    </ul>


    <div class="price-range">

        <p class="title">PRICE RANGE</p>

        <input
            type="range"
            min="0"
            max="600"
            value="600"
        >

        <div class="price">
            <span>$ 0</span>
            <span>$ 600</span>
        </div>

    </div>

</div>
</div>