<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quản lý người dùng</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/css/base.css' %}">
    {%block styles %}{% endblock %}
</head>
<body>
    <h1>Quản lý người dùng </h1>
    <a href="{% url 'add_product' %}">Thêm tài khoản  mới</a>
    <a href="{% url 'list_product' %}">Danh sách người dùng</a>
    <hr>

    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>
</html>