
{% extends 'base.html' %} 
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'user/css/list_product.css' %}">
{% endblock %}


{% block content %}
<h2>Danh sách người dùng</h2>
<table border="1" cellpadding="5">
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Username</th>
    <th>Image</th>  
    <th>phone</th>
  </tr>
  {% for item in product %}
  <tr>
    <td>{{item.id}}</td>
    <td>{{item.email}}</td>
    <td>{{item.username}}</td>
    <td>
      <img src="{{item.avatar.url}}" width="100px" height="100px" />
      <!-- lấy url từ Media_url rồi ghép lại thành media + đường dẩn đã lưu trong db -->
    </td>
    <td>{{item.phone}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
{% block scripts %}
<script src="{% static 'user/js/list_product.js' %}"></script>
{% endblock %}