*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.my_products
{
    width: 1220px;
    margin: auto;
    padding: 10px 0px;
}
.my_products .submit
{
    padding: 10px;
    background-color: green;
    border-radius: 10px;
}
.my_products .submit a
{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.items
{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.item
{
    width: 1220px;
    padding:  15px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}
.item input
{
    padding: 5px;
    border-radius: 10px;
}
.items img
{
    width: 295px;
    height: 205px;
    object-fit: cover   ;
}
.items p
{
    font-size: 20px;
    text-align: center;
}
.btn
{
    text-align: center;
    margin-top: 10px;
}
button
{
    cursor: pointer;
}