{% extends 'main.html' %} {% block css %}
<link
  rel="stylesheet"
  href="{{url_for ('static',filename = ('style/home.css'))}}"
/>
{% endblock %} {% block content %}

<div class="home">
  {% for product in products %}
  <div class="product">
    <img
      src="{{url_for('uploaded_file' , filename = product.image)}}"
      alt=""
      class="image"
    />
    <p class="title">Sản Phẩm :{{product.title}}</p>
    <p class="price">Giá {{product.price}} $</p>
    <button class="btn"  data-id="{{product.id}}">Mua</button>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block js %}
<script>
    document.querySelectorAll(".btn").forEach(btn => {

    btn.addEventListener("click", async function(e){
    //  asyn đánh dấu hàm này là hàm bất đồng bôij
        e.preventDefault();

        const product = this.closest(".product");
        // gọi đến thk cha gần nhất

        const id = this.dataset.id;
        const name = product.querySelector(".title").textContent;
        const price = product.querySelector(".price").textContent.replace("$", "");
        const image = product.querySelector(".image").src;
        const qty = document.querySelector('.qty')

        console.log(id);

        const response = await fetch("/add_to_cart", {
          // fetch gửi dữ liệu lên Flask và chạy router add_to_cart
            method: "POST",
            headers: {
                "Content-Type":"application/json"
            },
            // báo cáo cho flask đã gửi dữ liệu kiểu JSON
            body: JSON.stringify({
                id : id,  
               
            })
            // chuyển object thành json
            // 5 => {id: 5}
        }); 
//      chỉ chạy khi phía flask gửi response về client
        const data = await response.json();
        console.log(data);
        if (data.status == "success")
          qty.textContent = data.total_cart
        // đợi server chạy xong r mới xử lý tiếp 

    });

});
</script>
{% endblock %}