<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .error {
        color: red;
      }
    </style>
  </head>
  <body>
    <h2>Đăng nhập</h2>
    <form action="/login" enctype="multipart/form-data" method="post">
      <label>Email</label>
      <input type="text" name="email_input" />
      {% if errors.get('email') %}
      <span class="error">{{errors['email']}}</span>
      {% endif %}
      <input type="text" name="password_input" />
      {% if errors.get('password') %}
      <span class="error">{{errors['password']}}</span>
      {% endif %}


      <button type="submit">Đăng Nhập</button>
    </form>
  </body>
</html>
