{% extends 'base.html' %}

{% block content %}
<div style="width: 900px; margin: auto; margin-top: 20px; text-align: center;" class="main_email_forgot">
    <h2>Quên Mật Khẩu</h2> <br>
<form action="" method="post">
    {% csrf_token %}
<label for="">Vui lòng nhập đúng mật khẩu</label> <br>  
<input name="email" type="email" class="email" style="padding: 5px; width: 200px;">
<button style="padding: 5px; color: white; background-color: green; margin-top: 10px;" type="submit">Gửi</button>
</form>
</div>
{% endblock%}