{% extends 'base.html' %} {% block content %}
<title>Đăng Nhập</title>
<style>
  input {
    padding: 5px;
  }
</style>
<div style="padding: 20px; width: 900px" class="container_login">
  <p style="font-size: 20px">Đăng Nhập</p>
  <form
    action=""
    method="post"
    enctype="multipart/form-data"
    style="display: flex; flex-direction: column; gap: 10px"
  >
    {% csrf_token %} {{ form.non_field_errors }}
    <label for="">Email</label>
    {{ form.email }} {{ form.email.errors }}

    <label for="">Password</label>
    {{ form.password }} {{ form.password.errors }}

    <button
      style="
        background-color: orange;
        padding: 5px;
        border: 1px rgb(221, 218, 218);
        color: white;
        cursor: pointer;
      "
      type="submit"
    >
      Đăng Nhập
    </button>
  </form>
</div>
{% endblock %}
