{% extends 'base.html' %}

{% block content %}
<div style="width: 900px; margin: auto; margin-top: 20px; text-align: center;">
    <h2>Đổi Mật Khẩu Cho Tài Khoản: {{ email }}</h2> <br>
    
    {% if success %}
        <p style="color: green;">{{ success }}</p>
    {% elif error %}
        <p style="color: red;">{{ error }}</p>
    {% else %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="password" name="new_password" placeholder="Nhập mật khẩu mới..." style="padding: 5px; width: 250px;" required>
            <br>
            <button style="padding: 5px 10px; color: white; background-color: green; margin-top: 10px;" type="submit">Xác nhận đổi</button>
        </form>
    {% endif %}
</div>
{% endblock %}